@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

.dataTable {
  width: 100%
}

.dataTable__form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dataTable__input {
  font-size: .9rem;
  border: 2px solid #929496;
  border-radius: 3px;
  padding: .3rem .4rem;
}

.dataTable__button_submit {
  background-color: #d7d9db;
  border: none;
  border: 1px solid #929496;
  font-size: 1rem;
  padding: .4rem .7rem;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s;
}

.dataTable__button_submit:hover {
  opacity: .8;
}

.dataTable__table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1.2rem;
}

.dataTable__header {
  background-color: #d7d9db;
}

.dataTable__label {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  user-select: none;
  padding: .6rem .8rem;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.dataTable__label_icon_up,
.dataTable__label_icon_down {
  margin-left: 5px;
  position: absolute;
  top: 18px;
}

.dataTable__body_tr {
  white-space: nowrap;
}

.dataTable__body_td {
  text-align: left;
  padding: .6rem .8rem;
  font-size: .85rem;
  border-bottom: 1px solid #d7d9db;
}

.dataTable__footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dataTable__info {
  font-size: .9rem;
  user-select: none;
}

.dataTable__info_bold {
  font-weight: 700;
}

.dataTable__pagination {
  display: flex;
  align-items: center;
}

.dataTable__pagination_previous,
.dataTable__pagination_next {
  padding: .4rem .6rem;
  font-size: .85rem;
  background-color: #d7d9db;
  border: none;
  border: 1px solid #929496;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity .3s;
  user-select: none;
}

.dataTable__pagination_previous:hover,
.dataTable__pagination_next:hover {
  opacity: .8;
}

.dataTable__pagination_links {
  margin: 0 .3rem;
  display: flex;
  gap: .1rem;
}

.dataTable__pagination_link {
  font-size: .9rem;
  padding: .4rem .6rem;
  font-size: .85rem;
  background-color: #d7d9db;
  border: none;
  border: 1px solid #929496;
  cursor: pointer;
  transition: opacity .3s;
  user-select: none;
}

.dataTable__pagination_link_current {
  font-size: .9rem;
  padding: .4rem .6rem;
  font-size: .85rem;
  background-color: #d7d9db;
  border: none;
  border: 1px solid #929496;
  cursor: pointer;
  opacity: .6;
  user-select: none;
}